---
layout: documentation
date: 2014-09-10
author: Tim Pokorny
section: Developer Documentation
section-path: documentation/developer
---

<!-- Title Bar / Start
================================================== -->
<div class="page-title">
	<div class="container">

		<div class="twelve columns">
			<h1>Replace Me</h1>
			<div class="meta clearfix">
{% if page.author %}  <span><img src="{% site_asset images/icons/user.png %}" alt="author">posted by {{ page.author }},</span> {% endif %}
{% if page.date %}    <span><img src="{% site_asset images/icons/calendar.png %}" alt="author">{{ page.date | date: "%b %-d, %Y" }}</span> {% endif %}
{% if page.section %} <span><img src="{% site_asset images/icons/ribbon.png %}" alt="section"> <span>in <a href="{% site_root %}{{page.section-path}}">{{page.section}}</a>.</span> {% endif %}

			</div>
		</div>
		
		<nav class="four columns">
			<ul class="breadcrumbs">
				<li><a href="{% site_root %}index.html">Home</a></li>
				<li><i class="icon-angle-right"></i></li>
				<li>Replace Me </li>
			</ul>
		</nav>

	</div>
</div>

<!-- Title Bar / End
================================================== -->

<!-- Article / Start
================================================== -->
<section class="article">
	<div class="container">
	
		<div class="three_fourth column">
		
			<!-- Post Start -->
			<article class="post">
			
				<div class="main-info">
					<!-- Date -->
					<div class="date">
						<span class="month">version</span>
						<span class="day">2.0+</span>
					</div>
					
					<!-- Comments Number -->
					<a href="{% site_root %}support/" class="commentsnumber">
						Get
						<span>Help</span>
					</a>
				</div>
			
				<div class="post-content">
				
					<!-- Thumbnail -->
					<a href="single-post.html"><img src="{% site_asset images/logos/macosx-yosemite-450x250.png %}" alt=""></a>

					<!-- Post Content -->
					<p class="begin">Sed varius rutrum turpis vitae sodales. Nam condimentum rutrum arcu a eleifend. 
					Mauris ligula turpis, vulputate a lacinia ut, sodales eu dui?</p>
					
					<!--              -->
					<!--  Section Two -->
					<!--              -->
					<h2 id="sec1">Section One</h2>
					<p>Pellentesque habitant 
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris 
					consectetur venenatis erat, in pharetra tellus eleifend vitae. Sed lacus augue, 
					mattis ac vehicula quis, malesuada sit amet nulla. Mauris nulla felis, cursus 
					molestie condimentum quis, faucibus nec lorem. <strong>Pellentesque libero eros</strong>, 
					lacinia eu vulputate ornare, euismod in tellus. Sed egestas justo vitae urna laoreet mollis. 
					In iaculis ullamcorper fermentum.</p>

					<p>Ut convallis commodo tellus, non vehicula felis euismod ac. Nulla cursus fermentum
					felis, a tempus tortor facilisis sit amet. Vestibulum ante ipsum primis in 
					faucibus orci luctus et ultrices posuere cubilia Curae. Nulla venenatis egestas sollicitudin. 
					Suspendisse nec tempus lacus. Nulla non congue massa gravida in justo. </p>
					
					<blockquote>
					Viris vocent molestiae eu per. Pro cu facilis verterem, qui ad utamur conceptam. 
					Et cibo torquatos suscipiantur vim, mea ignota doctus ne. Has dolorem minimum et, 
					minimum vituperata sea id. Vix solum choro tacimates ei. Dictas diceret et eos. 
					Nec labores blandit ei, eius assum facilisi at pro. Ut pro vero possit delicatissimi, 
					id esse quando neglegentur sit. Facer sensibus his eu.
					</blockquote>

					<h3 id="sec11">Section 1.1</h3>
					<p>Pellentesque habitant 
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris 
					consectetur venenatis erat, in pharetra tellus eleifend vitae. Sed lacus augue, 
					mattis ac vehicula quis, malesuada sit amet nulla. Mauris nulla felis, cursus 
					molestie condimentum quis, faucibus nec lorem. <strong>Pellentesque libero eros</strong>, 
					lacinia eu vulputate ornare, euismod in tellus. Sed egestas justo vitae urna laoreet mollis. 
					In iaculis ullamcorper fermentum.</p>

					<h3 id="sec12">Section 1.2</h3>
					<p>Pellentesque habitant 
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris 
					consectetur venenatis erat, in pharetra tellus eleifend vitae. Sed lacus augue, 
					mattis ac vehicula quis, malesuada sit amet nulla. Mauris nulla felis, cursus 
					molestie condimentum quis, faucibus nec lorem. <strong>Pellentesque libero eros</strong>, 
					lacinia eu vulputate ornare, euismod in tellus. Sed egestas justo vitae urna laoreet mollis. 
					In iaculis ullamcorper fermentum.</p>

					<h3 id="sec13">Section 1.3</h3>
					<p>Pellentesque habitant 
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris 
					consectetur venenatis erat, in pharetra tellus eleifend vitae. Sed lacus augue, 
					mattis ac vehicula quis, malesuada sit amet nulla. Mauris nulla felis, cursus 
					molestie condimentum quis, faucibus nec lorem. <strong>Pellentesque libero eros</strong>, 
					lacinia eu vulputate ornare, euismod in tellus. Sed egestas justo vitae urna laoreet mollis. 
					In iaculis ullamcorper fermentum.</p>

					<!--              -->
					<!--  Section Two -->
					<!--              -->
					<h2 id="sec2">Section Two</h2>
					<p>Cras tellus metus sagittis a fringilla at, congue non erat. Integer nunc mi, tincidunt 
					vitae dignissim at, faucibus ac erat. Cras vulputate quam et sapien adipiscing porta 
					faucibus risus semper. Cras dignissim eros id diam dapibus ultricies. Quisque commodo 
					aliquet orci, eu pulvinar nisi porta.</p>
					
				
					<code class="language-css">
.class {
	width: 160px;
	height: 10px;
	margin: 0 auto;
	position: absolute;
	background-color: #fff;
}
					</code>

					<p>Pellentesque habitant morbi tristique senectus et netus et <a href="#">malesuada</a> fames ac turpis
					egestas. Mauris id neque vitae tellus pulvinar luctus in vel libero. Cum sociis natoque 
					penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur et ornare nibh.</p>
					
					<h2 id="sec3">A Code Example</h2>
					<p>
						It's important to have lots of code examples. Everyone loves code. I love it, 
						you love it, we all love it, so let's highlight it.
					</p>

					<code class="language-java">
public static void main( String[] args )
{
	System.out.println( "Do you like Portico?" );
	for( int i = 0; i < 10; i++ )
	{
		String temp = "Yes I do!";
		System.out.println( temp );
	}
}
					</code>

					<!-- Inline Image -->
					<img src="{% site_asset images/logos/macosx-yosemite-450x250.png %}"
					     alt="A very helpful diagram"
					     style="margin:auto;"/>

					<!-- Bring in some code from an external file -->
					<pre data-src="myfile.js" class="language-java"></pre>
				</div>
		
			</article>
			<!-- Post End -->
			
		</div>
		
		<div class="one_fourth column">
			
			<div id="sidebar" data-spy="affix" data-offset-top="188" data-offset-bottom="410">
			
				<!-- Search -->
				<!--
				<div class="widget">
					<div class="search-icon"><input type="text" class="searching" placeholder="Search..." /></div>
				</div>
				-->

				<!-- Contents -->
				<div class="widget" id="menu">
					<h3>Table of Contents</h3>
					<ul class="categories-list nav">
						<li class="active"><a href="#sec1">Section One</a></li>
						<li>
							<ul class="categories-list nav">
								<li><a href="#sec11">Section 1.1</a></li>
								<li><a href="#sec12">Section 1.2</a></li>
								<li><a href="#sec13">Section 1.3</a></li>
							</ul>
						</li>
						<li><a href="#sec2">Section Two</a></li>
						<li><a href="#sec3">Section Three</a></li>
					</ul>
				</div>
				
				<!-- Tags -->
				<!--
				<div class="widget">
					<h3>Tags</h3>
					<ul class="tags-list">
						<li><a href="#">hla13</a></li>
						<li><a href="#">ieee1516e</a></li>
						<li><a href="#">vbs</a></li>
						<li><a href="#">java</a></li>
						<li><a href="#">c++</a></li>
					</ul>
				</div>
				-->
				
			</div>
		</div>
		
</section>
<!-- Article / End
================================================== -->

