<!-- Kevin / Start
================================================== -->
<div class="fullwidth background-turquoise celebrity celebrity-flat no-margin dragdown">
	<div class="container">
		<img src="{% site_asset images/people/garnett.png %}" style="float:left;width:250px;"/>
		<p>
			If Kevin is to be believed, <a href="https://www.youtube.com/watch?v=Wcz_kDCBTBk" style="color:#ffffff">anything
			is possible</a>. Where "anything" includes you signing up to the Portico announcement
			mailing list, he may well be right. Is he? Don't let Kevin down. He's a big guy.
		</p>

		{% include celebrity-signup.html %}
	</div>
</div>
<!-- Kevin / End
================================================== -->
