<!-- Snoop  / Start
================================================== -->
<div class="fullwidth background-silver celebrity no-margin dragdown" style="padding-bottom:0;">
	<div class="container">
		<img src="{% site_asset images/people/snoop-dogg.png %}" style="float:left;width:250px;"/>
		<p>
			Snoop Dogg says with all the latest Portico news delivered direct to your mailbox,
			you'll have everything you need to stand out from the crowd. Impress collegues, woo
			potential partners, make your Mum proud.
		</p>

		{% include celebrity-signup.html %}
	</div>
</div>
<!-- Want to Contribute? / End
================================================== -->
