<!-- HRH Queen Liz / Start
================================================== -->
<div class="fullwidth theme-blue celebrity no-margin dragdown">
	<div class="container">
		<img src="{% site_asset images/people/queen.png %}" style="float:left;width:250px;"/>
		<p>
			Way down here in Australia, we on Team Portico speak the Queen's English. 
			Sign up to the announcement mailing list and see for yourself! Liz would.
		</p>

		{% include celebrity-signup.html %}
	</div>
</div>
<!-- HRH Queen Liz / End
================================================== -->
