---
layout: default
---

<!-- Title Bar / Start
================================================== -->
<div class="page-title">
	<div class="container">

		<div class="four columns">
			<h1>Portico v1.0.1</h1>
		</div>
		
		<nav class="twelve columns">
			<ul class="breadcrumbs">
				<li><a href="{% site_root %}index.html">Home</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/index.html">About</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/status.html#release-notes">Releases</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li>1.0.1 </li>
			</ul>
		</nav>
		
	</div>
</div>

<!-- Title Bar / End
================================================== -->


<!-- Introduction / Start
================================================== -->
<div class="container">

	<div class="four columns">
		<table class="default-table" style="width:auto;">
			<tr>
				<td><strong>Release Date</strong></td>
				<td>June 3rd, 2009</td>
			</tr>
			<tr>
				<td><strong>Status</strong></td>
				<td><span class="bigger label label-default">Deprecated</span></td>
			</tr>
			<tr>
				<td><strong>Download</strong></td>
				<td><a href="{% site_root %}get.html#archive">Archive</a></td>
			</tr>
			<tr>
				<td><strong>Git Tag</strong></td>
				<td>N/A</td>
			</tr>
			<tr>
				<td><strong>Baseline</strong></td>
				<td>/portico-1.0.x</td>
			</tr>
		</table>

	</div>

	<div class="eleven columns">

		{% include release-deprecated.html %}

		<h2>JSAF Stability Improvements</h2>

		<p>
			<span class="dropcap">A</span> lot of work has been done on getting Portico and JSAF
			working happily together. Most of the problems stem from JSAFs use of custom signal
			handlers, and this conflicting with internal requirements of Portico.
		</p>
		<p>
			Fortunately there is a reasonably simple remedy to this situation (although one
			that was difficult to find!), although the process of getting Portico and JSAF running
			together is still a little cumbersome. A guide on what is needed has been developed
			and is available here: <a href="{% site_root %}/documentation/guides/jsaf.html">Portico and JSAF</a>.
		</p>

		<h2>Unique Federate Names</h2>
		<p>
			An often requested feature is to allow multiple federates in a single federation
			with the same name. By default, Portico will reject any federate that attempts to
			join with a name that another federate is already using. By setting the RID property
			<span class="code">portico.uniqueFederateNames</span> to <span class="code">true</span>,
			you can disable this check, thus easily allowing multiple instances of applications
			like JSAF or VBS2 to be run in a single federation without additional configuration.
		</p>
		<p>
			For those interested, what happens internally is that when this setting is
			<span class="code">true</span> and Portico sees that a second federate is attempting
			to join with a used federate name, it changes the requested name from
			<span class="code">"federateName"</span> to <span class="code">"federateName (federateHandle)"</span>
			in an attempt to make it unique.
		</p>

		<h2>Object Name Negotiation</h2>
		<p>
			When registering an object with a specific name (as many applications do), Portico
			has to do some additional work to make sure the name is unique within the federation.
			The work of negotiating with the other federates in the federation to make sure the
			name is unique imposes a significant performance penalty.
		</p>
		<p>
			In the vast majority of circumstances, application themselves ensure that the names
			they use are unique (perhaps prefixing some local id or something or that nature to it).
			In these situations, the performance hit is for a process that has become redundant.
			In Portico v1.0.1 the default setting to always negotiate has been changed.
		</p>
		<p>
			Unless explicitly enabled through the RID, a federate will not perform the lengthy
			negotiation process. This does not mean that no checks are made. If an object is
			already known to a federate, that name can't be reused. What is does mean is that
			if two federates attempt to register an object with the same name at the same time,
			duplicate names could exist in the federation. If problems occur, it is recommended 
			to enable full negotiation through the RID file option
			<span class="code">portico.object.negotiateNames=true</span> setting.

	</div>

</div>
<!-- Introduction / End
================================================== -->

{% include celebrity-kevin.html %}











