---
layout: default
---

<!-- Title Bar / Start
================================================== -->
<div class="page-title">
	<div class="container">

		<div class="four columns">
			<h1>Portico v1.0.1</h1>
		</div>
		
		<nav class="twelve columns">
			<ul class="breadcrumbs">
				<li><a href="{% site_root %}index.html">Home</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/index.html">About</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/status.html#release-notes">Releases</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li>1.0.0 </li>
			</ul>
		</nav>
		
	</div>
</div>

<!-- Title Bar / End
================================================== -->


<!-- Introduction / Start
================================================== -->
<div class="container">

	<div class="four columns">
		<table class="default-table" style="width:auto;">
			<tr>
				<td><strong>Release Date</strong></td>
				<td>May 27th, 2009</td>
			</tr>
			<tr>
				<td><strong>Status</strong></td>
				<td><span class="bigger label label-default">Deprecated</span></td>
			</tr>
			<tr>
				<td><strong>Download</strong></td>
				<td><a href="{% site_root %}get.html#archive">Archive</a></td>
			</tr>
			<tr>
				<td><strong>Git Tag</strong></td>
				<td>N/A</td>
			</tr>
			<tr>
				<td><strong>Baseline</strong></td>
				<td>/portico-1.0.x</td>
			</tr>
		</table>

	</div>

	<div class="eleven columns">

		{% include release-deprecated.html %}

		<h2>JSAF Stability Improvements</h2>

		<p>
			<span class="dropcap">P</span>ortico 1.0 is here! It's been a long road, with a lot
			of hours put in by the whole group to get the release over the line. Over 200 separate
			tickets have been addressed since the last release, adding a number of new features and
			filling out the public API. Version 1.0 is a major milestone for any project, and
			a special thank-you to the whole development is in order. We're very proud of what
			has been put in place since the project started and we hope you enjoy using it!
		</p>

		<h2>Clogging the Tubes - Target 5000</h2>
		<p>
			Let's face it, the HLA is a niche technology. Despite this, we've been somewhat
			overwhelmed by the interest in Portico. To date our various installers have been
			downloaded almost 5000 times by groups all around the globe. As we tick over to
			version 1.0, let's bust through this milestone as well!
		</p>

		<h2>Save/Restore and Ownership Management</h2>
		<p>
			Portico now supports both Save/Restore and Ownership Management services for the
			HLA 1.3 specification. This is provided for the Java and C++ interfaces and works
			across all platforms. These have been a long time coming, and now, save for some
			smaller calls here and there, Portico support covers the full 1.3 specification.
		</p>
		<p>
			For compete details on the support level of various <code>RTIambassador</code> and
			<code>FederateAmbassador</code> calls, see the
			<a href="{% site_root %}documentation/developer/apistatus.html">Portico API Status</a> page.
		</p>

		<h2>Performance Improvements</h2>
		<p>
			Performance has been a focus of the Portico v1.0 release, and significant gains have
			been made. Through optimization at various levels inside the libraries, Portico is now
			significantly faster than it was in the previous releases. A comparison of Portico v0.9,
			Portico v1.0 and DMSO RTI-NGv6 was generated and can be 
			<a href="{% site_root %}documentation/user/performance.html">found here</a>.
			On that page you'll also find a new section describing how to tweak the various
			Portico options for better performance in your particular environment.
		</p>
		<p>
			As part of the report generation, a benchmarking application known as PGauge was
			developed (for both Java and C++). The code for PGauge will be made available in
			the source respoistory for anyone interested.
		</p>

		<h2>Architecture Changes</h2>
		<p>
			As part of performance improvements, Portico underwent some significant architectural
			refactoring. As part of this move, there is no longer a central RTI component.
			When federates are started on the same network in the same federation, they will find
			and communicate with one another. Portico version 0.8 (the last release to contain
			the client/server architecture) will remain available for download by those who would
			like a point-to-point connection.
		</p>

		<h2>C++ Interface Improvements</h2>
		<p>
			Throughout the development of the 1.0 release, a number of bugs were identified and
			fixed within the Portico C++ interface. These improvements have resulted in increased
			stability across all platforms, as well as better performance.
		</p>
		<p>
			As part of performance testing, the C++ interface was also put through some
			considerable load testing across Windows, Linux and Mac OS X, helping to identify
			any problems and resulting in increased quality for the interface.
		</p>
		<p>
			Finally, a number of problems with the DLC 1.3 interface have been fixed and full
			support (to the same level as the RTI-NG compatible interface) is now provided, giving
			users a C++ platform on which they can build fully featured federates.
		</p>

		<h2>Improvements and Bug Fixes</h2>
		<p>
			Thanks to help from a number of users on the forums, a number of bugs have been
			identified and fixed as part of the Portico v1.0 release. These have been across
			all areas of Portico, but a few were more subtle bugs in Time Management (if anyone
			finds any more, please post them on the forums!).
		</p>

		<h2>What's Next?</h2>
		<p>
			Getting a product as big as Portico to Version 1.0 is a big milestone - but it's not
			a place to stop. From this point we've start to turn our attention to the IEEE-1516
			API and are making plans on folding it into Portico family.
		</p>
		<p>
			Finally, I'd like to extend a big thank-you to everyone who has downloaded and used
			Portico, and especially to those who have contributed back, either through code,
			bug reporting or general activity across the forums. Getting this far doesn't happen
			without the help of a lot of people. Well done and happy simulating! 
		</p>

	</div>

</div>
<!-- Introduction / End
================================================== -->


{% include celebrity-kevin.html %}
