---
layout: default
---

<!-- Title Bar / Start
================================================== -->
<div class="page-title">
	<div class="container">

		<div class="four columns">
			<h1>Portico v2.0.0</h1>
		</div>
		
		<nav class="twelve columns">
			<ul class="breadcrumbs">
				<li><a href="{% site_root %}index.html">Home</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/index.html">About</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li><a href="{% site_root %}about/status.html#release-notes">Releases</a></li>
				<li><i class="icon-angle-right"></i></li>

				<li>2.0.0 </li>
			</ul>
		</nav>
		
	</div>
</div>

<!-- Title Bar / End
================================================== -->


<!-- Introduction / Start
================================================== -->
<div class="container">

	<div class="four columns">
		<table class="default-table" style="width:auto;">
			<tr>
				<td><strong>Release Date</strong></td>
				<td>April 1st, 2013</td>
			</tr>
			<tr>
				<td><strong>Status</strong></td>
				<td><span class="bigger label label-success">Released</span></td>
			</tr>
			<tr>
				<td><strong>Download</strong></td>
				<td><a href="{% site_root %}get.html#archive">Archive</a></td>
			</tr>
			<tr>
				<td><strong>Git Tag</strong></td>
				<td><a href="https://github.com/openlvc/portico/releases/tag/portico-2.0.0">portico-2.0.0</a></td>
			</tr>
			<tr>
				<td><strong>Baseline</strong></td>
				<td><a href="https://github.com/openlvc/portico/tree/maintenance-2.0.x">/portico-2.0.x</a></td>
			</tr>
		</table>

	</div>

	<div class="eleven columns">

		{% include release-major.html %}

		<p class="bigger">
			<span class="dropcap">N</span>otwithstanding the date, I am now very pleased to report
			that the latest release of Portico, <em>v2.0.0</em>, is now available and ready for
			download. This has been the focus of a large development and testing effort in recent
			months and brings with it a number of significant updates.
		</p>

		<p class="bigger">
			The Portico v2.0.0 release signals the completion of a large development and testing
			effort over the past 6 months. This major update has two main focus areas:
		</p>

		<ul class="bigger list nested-list">
			<li>Initial Support for IEEE-1516 (2010) -- HLA Evolved</li>
			<li>Enhanced C++ compiler support to 32/64-bit and cover Visual Studio 2005, 2008 and 2010</li>
			<li>Network Binding Updates</li>
			<li>Move to Git and GitHub</li>
		</ul>

		<p class="bigger">
			In addition to these main focus areas, a number of bug fixes, minor enhancements
			and performance improvements have been added, and the version of the underlying
			networking library has been updated to provide increased performance and stability.
		</p>

	</div>

</div>
<!-- Introduction / End
================================================== -->


<!-- HLA Evolved Support / Start
================================================== -->
<div class="container">

	<div class="fifteen columns">
		<h2 style="margin-bottom:30px;">HLA Evolved</h2>

		<p class="bigger">
			The major update for Portico v2.0 has been the introduction of an IEEE-1516 (2010)
			or HLA-Evolved interface. This work has been funded by Thales Group and brings with it
			support for all the most commonly used services of the HLA Evolved interface.
		</p>

		<p class="bigger">From the Thales Press Release:</p>

		<p class="bigger">
			<em>Dan Gregory, responsible for modelling and simulation activities in the Thales Group
			Technical Directorate, identified that the lack of quality open source RTIs was
			restricting the adoption of standards-based architectures and was also causing
			architects to make design compromises in order to optimise licensing costs.</em>
		</p>

		<blockquote>
			"We saw the opportunity for a quick-win in kick-starting HLA adoption, particularly
			outside the training community. Portico was an obvious choice for meeting this objective."
		</blockquote>

		<img src="500px-Thales-Logo.jpg" class="middle"/>
		<img src="500px-Calytrix-Logo.jpg" class="middle"/>

	</div>

</div>
<!-- HLA Evolved Support / End
================================================== -->

<!-- C++ Compiler Support / Start
================================================== -->
<div class="container">

	<div class="sixteen columns">
		<h2 style="margin-bottom:30px;">C++ Compiler Support</h2>

		<p class="bigger">
			As part of the work completed with Thales, a considerable revamp of the supported C++
			compilers for both the HLA v1.3 and IEEE-1516e interfaces has been completed. This
			has seen support added for 64-bit across Windows, Linux and Mac OSX, as well as the
			general expansion of compiler support on Windows. The full list of supported
			environments is listed below:
		</p>

		<ul class="bigger list nested-list">
			<li>Visual Studio 2005 32-bit</li>
			<li>Visual Studio 2005 64-bit</li>
			<li>Visual Studio 2008 32-bit</li>
			<li>Visual Studio 2008 64-bit</li>
			<li>Visual Studio 2010 32-bit</li>
			<li>Visual Studio 2010 64-bit</li>
			<li>GCC 4+ 32-bit on Linux</li>
			<li>GCC 4+ 64-bit on Linux</li>
			<li>GCC 4+ 64-bit on Mac OS X</li>
		</ul>

	</div>

</div>
<!-- C++ Compiler Support / End
================================================== -->

<!-- Network Binding Update / Start
================================================== -->
<div class="container">

	<div class="sixteen columns">
		<h2 style="margin-bottom:30px;">Network Binding Update</h2>

		<p class="bigger">
			This release of Portico has also seen a significant update to the underlying
			communications library used to network federates together. This binding was last
			updated with the Portico v0.9 release, and has now been moved to a newer version
			of the supporting reliable-multicast library (<a href="http://www.jgroups.org">JGroups</a>).
			There have been a number of stability and throughput improvements implemented in
			recent versions of JGroups, as well as a number of API changes (making a quick update
			a bit difficult!). 
		</p>

		<p class="bigger">
			This update has now rolled into Portico v2.0.0.
		</p>

	</div>

</div>
<!-- Network Binding Update / End
================================================== -->

<!-- Github / Start
================================================== -->
<div class="container">

	<div class="sixteen columns">
		<h2 style="margin-bottom:30px;">Fork us on GitHub!</h2>

		<p class="bigger">
			Portico has now moved the hosting of its code from Subversion over to Git.
			Given the largely distributed development nature of Portico, Git provides a number of
			advantages and more readily supports the involvement of developers outside the
			core group.
		</p>

		<p class="bigger">
			You can find the Portico Git repositories on GitHub here:
			<a href="https://github.org/openlvc/portico">https://github.com/openlvc/portico</a>
		</p>

		<a href="https://github.com/openlvc/portico"><img src="GitHub-Logo.jpg" class="middle"></a>

	</div>

</div>
<!-- Github / End
================================================== -->

{% include celebrity-kevin.html %}


